Django~=2.0.6
asn1crypto~=0.24.0
certifi~=2019.6.16
cffi~=1.12.3
chardet~=3.0.4
cryptography~=2.7
django-crispy-forms~=1.7.2
django-model-utils~=3.2.0
idna~=2.8
mysql~=0.0.2
mysqlclient~=1.4.2.post1
psycopg2~=2.8.3
psycopg2-binary~=2.8.3
pycparser~=2.19
pyOpenSSL~=19.0.0
pytz~=2019.1
requests~=2.22.0
six~=1.12.0
urllib3~=1.25.3
django-private-chat~=0.2.2
reportlab~=3.5.32