{% extends "Base.html" %}

{% block content%}
 <title>{% block Titulo %}Calendario{% endblock Titulo %}</title>
<br>
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23b225d9&amp;ctz=America%2FEl_Salvador&amp;src=ZXJpY2thbGV4MDk2QGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;title=SIGEMOF&amp;showTitle=0&amp;showDate=1&amp;showTabs=1&amp;showCalendars=1&amp;showTz=0" style="border-width:0;position: absolute; left: 1%" width="1236" height="480" frameborder="0" scrolling="no"></iframe>

{% endblock content %} position: absolute; left: 1%" width="1236" height="480"