{% extends "Base.html" %}

{% block content %}


		<div class="contact-form">
			<form class="form-group" id="form-group" role="form" method="POST" nctype="multipart/form-data">
				{% csrf_token %}
				<br>
				<br>
				<br>
				<br>
				<div style= "position: absolute; top: 30%; right: 38%" class="form-group" align="center">
                	<label >Numero de Expediente:</label><br>
                	<input style= " width: 350px" class="form-control" type="text" name="numExp" id="numExp"></input>
                	{% if cont == True %}
                	<br>
                	<label>Este numero de expediente ya fue utilizado </label>

                	<br>
            		{% endif %}

            		{% if blank == True %}
                	<br>
                	<label>Campo vacio</label>

                	<br>
            		{% endif %}
                <br>



						<button type="submit" id="boton" class="btn btn-success">Guardar</button>
						<a style="width:90px;"class="btn btn-danger" href="{%url 'ListaPaciente'%}">Salir</a>

				</div>
			</form>
		</div>
	</div>

{% endblock %}
