
{% extends "Base.html" %}
{% block content%}
<title>{% block Titulo %}Editar paciente{% endblock Titulo %}</title>

        <h1 style=" text-align: center;">Editar Paciente</h1>
        <br>
        <br>

    <form  method="post">
      {%csrf_token%}

      {{form.as_p}}
<br>
<div class="input-group mb-3" style=" text-align: center; left: 40%;"class="d-inline-flex pl-5 flex-column d-flex align-items-center">
   <button style=" text-align: center;" type="submit" class="btn btn-primary">Modificar</button>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a style="width:90px;"class="btn btn-danger" href="{%url 'ListaPaciente'%}">Salir</a>
 </div>

</form>

{% endblock content %}