{% extends "Base.html" %}
{% load static %}



{% block content %}
<title>{% block Titulo %}Eliminar paciente{% endblock Titulo %}</title>
    <body class="d-flex align-items-start">
        
    <div  class="d-inline-flex pl-5">

    <form method="post">
      {%csrf_token%}
      <h1 style="text-align: center;">¿Desea eliminar el registro de este Paciente?</h1>
      <h3 style="text-align: center;"> Nombre: {{Paciente.nombrePersona}} </h3>
      <h3 style="text-align: center;"> DUI: {{Paciente.dui}} </h3>
      <h3 style="text-align: center;"> Edad: {{Paciente.edad}} </h3>
      {% if Paciente.sexo == 2 %}
      <h3 style="text-align: center;"> Sexo: Masculino</h3>
      {% endif %}
      {%if Paciente.sexo == 3 %}
      <h3 style="text-align: center;"> Sexo: Femenino</h3>
     {% endif %}
      <h3 style="text-align: center;"> Telefono: {{Paciente.telefono}} </h3>
      <h3 style="text-align: center;"> Correo: {{Paciente.correo}} </h3>

      
    
<div style="position: left"class="d-inline-flex pl-5 flex-column d-flex align-items-center">
  <br>
  <br>
   <button style="text-align: center;position: absolute; right: 53%" type="submit" class="btn btn-danger">Sí, Eliminar</button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <input style="text.align:center; position:absolute; left:53%" class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">

   
 </div>   
</form>

</div>

    </body>

{% endblock %}