{% extends "Base.html" %}
{% load static %}
<title>{% block Titulo %}Editar lente{% endblock Titulo %}</title>


{% block content %}

<h1 style="text-align: center;">¿Desea eliminar el registro de este Lente?</h1>
 <!--   <div  class="d-inline-flex pl-5">  -->
        <div  class="contact-form">
        <h3 style="text-align: center;"> Codigo Lentes: {{Lente.codigo}} </h3>
    <form method="post">
      {%csrf_token%}
      <div style="float: left; width: 40%;">
      <br>
      <h2 style="text-align: center;">Lente Derecho</h2>
      <br>
      <h3 style="text-align: center;"> Esfera OI: {{Lente.esfera}} </h3>
      <h3 style="text-align: center;"> Cilindro OI: {{Lente.cilindro}} </h3>
      <h3 style="text-align: center;"> Eje OI: {{Lente.eje}} </h3>
      <h3 style="text-align: center;"> Prisma OI: {{Lente.prisma}} </h3>
      <h3 style="text-align: center;"> Base OI: {{Lente.base}} </h3>
      <h3 style="text-align: center;"> Adicion OI: {{Lente.adicion}} </h3>
      <h3 style="text-align: center;"> Graduacion OI: {{Lente.graduacion}} </h3>
      <h3 style="text-align: center;"> Color OI: {{Lente.color}} </h3>
      </div>
      <div style="float: right; width: 40%;">
      <br>
    
      <h2 style="text-align: center;"> Lente Izquierdo</h2>
      <br>

      <h3 style="text-align: center;"> Esfera OD: {{Lente.esferad}} </h3>
      <h3 style="text-align: center;"> Cilindro OD: {{Lente.cilindrod}} </h3>
      <h3 style="text-align: center;"> Eje OD: {{Lente.ejed}} </h3>
      <h3 style="text-align: center;"> Prisma OD: {{Lente.prismad}} </h3>
      <h3 style="text-align: center;"> Base OD: {{Lente.based}} </h3>
      <h3 style="text-align: center;"> Adicion OD: {{Lente.adiciond}} </h3>
      <h3 style="text-align: center;"> Graduacion OD: {{Lente.graduaciond}} </h3>
      <h3 style="text-align: center;"> Color OD: {{Lente.colord}} </h3>
<br>
<br>

 <button  type="submit" class="btn btn-danger">Sí, Eliminar</button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
 <input s class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">


 </div>

</form>


{% endblock %}