{% extends "Base.html" %}
{% load static %}
<title>{% block Titulo %}Editar lente{% endblock Titulo %}</title>


{% block content %}

    <body class="d-flex align-items-start">
<h1 style="text-align: center;">¿Desea eliminar el registro de este Lente?</h1>
 <!--   <div  class="d-inline-flex pl-5">  -->
        <div style="position:absolute ;left: 15%; width:400px" class="contact-form">

    <form method="post">
      {%csrf_token%}
      
      <br>
      <h2 style="text-align: center;">Lente Derecho</h2>
      <h3 style="text-align: center;"> Codigo OI: {{Cristal.codigo}} </h3>
      <h3 style="text-align: center;"> Esfera OI: {{Cristal.esfera}} </h3>
      <h3 style="text-align: center;"> Cilindro OI: {{Cristal.cilindro}} </h3>
      <h3 style="text-align: center;"> Eje OI: {{Cristal.eje}} </h3>
      <h3 style="text-align: center;"> Prisma OI: {{Cristal.prisma}} </h3>
      <h3 style="text-align: center;"> Base OI: {{Cristal.base}} </h3>
      <h3 style="text-align: center;"> Adicion OI: {{Cristal.adicion}} </h3>
      <h3 style="text-align: center;"> Graduacion OI: {{Cristal.graduacion}} </h3>
      <h3 style="text-align: center;"> Color OI: {{Cristal.color}} </h3>

      <div style="position:absolute;right:-150%; top: -5%;width:400px">
      <br>
      <br>
      <h2 style="text-align: center;"> Lente Izquierdo</h2>
      <h3 style="text-align: center;"> Codigo OD: {{Cristal.codigod}} </h3>
      <h3 style="text-align: center;"> Esfera OD: {{Cristal.esferad}} </h3>
      <h3 style="text-align: center;"> Cilindro OD: {{Cristal.cilindrod}} </h3>
      <h3 style="text-align: center;"> Eje OD: {{Cristal.ejed}} </h3>
      <h3 style="text-align: center;"> Prisma OD: {{Cristal.prismad}} </h3>
      <h3 style="text-align: center;"> Base OD: {{Cristal.based}} </h3>
      <h3 style="text-align: center;"> Adicion OD: {{Cristal.adiciond}} </h3>
      <h3 style="text-align: center;"> Graduacion OD: {{Cristal.graduaciond}} </h3>
      <h3 style="text-align: center;"> Color Od: {{Cristal.colord}} </h3>



<div style="position: absolute;" id="botones" class="d-inline-flex pl-5 flex-column d-flex align-items-center">
  <br>
  <br>
   <button style="text-align: center;position: absolute; right: 53%; margin-right: 250%" type="submit" class="btn btn-danger">Sí, Eliminar</button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <input style="text-align:center; position: absolute; left: 53%; margin-left: -200%" class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">


 </div>
</form>

</div>

    </body>


{% endblock %}