{% extends "Base.html" %}
{% load static %}
<title>Eliminar Cristal</title>


{% block content %}

    <body class="d-flex align-items-start">

    <div  class="d-inline-flex pl-5">

    <form method="post">
      {%csrf_token%}
      <h1 style="text-align: center;">¿Desea eliminar el registro de este Cristal?</h1>
      <h3 style="text-align: center;"> Codigo: {{Cristal.codigo}} </h3>
      <h3 style="text-align: center;"> Codigo: {{Cristal.graduacion}} </h3>
      <h3 style="text-align: center;"> Codigo: {{Cristal.material}} </h3>
      <h3 style="text-align: center;"> Lente: {{Cristal.color}} </h3>
      <h3 style="text-align: center;"> Codigo: {{Cristal.marca}} </h3>
      <h3 style="text-align: center;"> Cantidad: {{Cristal.cantidad}} </h3>
      <h3 style="text-align: center;"> Precio Compra: {{Crital.precioCompra}} </h3>



<div style="position: left"class="d-inline-flex pl-5 flex-column d-flex align-items-center">
  <br>
  <br>
   <button style="text-align: center;position: absolute; right: 53%" type="submit" class="btn btn-danger">Sí, Eliminar</button>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <input style="text.align:center; position:absolute; left:53%" class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">


 </div>
</form>

</div>

    </body>

{% endblock %}