{% extends "Base.html" %}

{% block content %}
<title>{% block Titulo %}Registrar consulta{% endblock Titulo %}</title>

        <h1 style=" text-align: center;">Registrar Consulta</h1>
        <br>
        <br>
	
		<div class="contact-form">
			<form class="form-group" id="form-group" role="form" method="POST" nctype="multipart/form-data">
				{% csrf_token %}

				<div style="position: absolute; left: 31%" class="form-group" align="center">
                	<label>Fecha</label><br>
                	<input style="text-align: center" class="form-control" type="date" name="fecha" id="fecha"></input>
                	<br>
                	<label>Diagnostico</label><br>
                	<input style="height: 200px;width: 500px" class="form-control" type="text" name="diag" id="diag"></input>
                	<br>

                	{% if blank == True %}
                	<br>
                	<label>Uno de los campos esta vacio. Por favor, intente de nuevo </label>

                	<br>
                	<br>
            		{% endif %}
						<button type="submit" id="boton" class="btn btn-success">Guardar</button>
                        <input class="btn btn-danger" type="button" onclick="history.back()" name="cancelar" value="Cancelar">

				</div>
</div>
			</form>
		</div>
	


{% endblock %}
