{% extends "Base.html" %}

{% block content%}
    <title>{% block Titulo %}Registrar Citas{% endblock Titulo %}</title>

            


    <div style="text-align: center;width:100%" class="contact-form">
    <h3 style="text-align: center;">Registrar Cita</h3><br>
    <div style="margin:0 auto; margin-left: auto; margin-right: auto;">
      <form class="form-group" id="form-group" role="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <label><b>Fecha</b></label>
                <input type="date" class="form-control" name="fecha" placeholder="" min = {{now}} required>
                {% if val == False %}
                	<label><font  color="red" >Fecha Invalida</font>  </label>
                	<br>
            	{% endif %}
                <label><b>Hora de Inicio</b></label>
                <input placeholder=""  type="time" value="08:30" min="08:30" max="15:00" class="form-control" name="horaI" " required>
                <label><b>Hora de Finalizacion</b></label>
                <input type="time" placeholder=""  type="time" value="09:00" min="08:30" max="15:00"  class="form-control" name="horaF"  required>

                <label><b>Estado</b></label><br>
                <select style="width: 100%; height: 30px; border-width: 0.5px" name="estado">
                <!-- Opciones de la lista -->
                <option value="Realizada"  selected>Realizada</option>
                <option value="Reprogramada" selected>Reprogramada</option> 
                <option value="Programada" selected>Programada</option>
                </select><br>
                <br>
             
             
        </div>
  <br><div style="align-content: center;" class="btn-group" >
                <button  type="submit" id="boton" class="btn btn-primary">Guardar</button>
            
                <input  class="btn btn-danger" type="button" onclick="history.back()" name="cancelar" value="Cancelar">
                </div>
  
 </form>
</div>
</div>
<style type="text/css">
    .btn{
        margin-right: 500px;
    }


</style>
{% endblock content %}
