{% extends "Base.html" %}

{% block content %}

<script>
    function generar(){
        prec= parseInt(suma.precio.value);
        t= parseInt(suma.cantidad.value);
        suma.total.value = prec*t;
        tt=parseInt(suma.paciente.value);
        suma.lentenombre.value=tt;
    }

    setInterval('generar()', 1);

</script>
<title>{% block Titulo %}Registrar salida de Lente{% endblock Titulo %}</title>
<h1 style=" text-align: center;">Registrar salida de lentes</h1>
        <br>
        <br>

        <div>
            <form class="form-group" name="suma" id="form-group" role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div   class="form-group" align="center">

                            <label>Nombre paciente</label>


                            <select class="form-control" type="text" name="paciente" id="paciente">

                        {% for lente in per %}
                        {% if lente.estado == "laboratorio" %}
                        <option  style="width: 90%;" value="{{lente.codigo}}">Codigo:&nbsp;{{lente.codigo}}&nbsp;&nbsp;&nbsp;&nbsp;Paciente:&nbsp;{{lente.paciente.nombrePersona}} {{lente.paciente.apellidoPersona}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>


                    <label>Codigo Factura</label><br>
                    <input style="text-align: center" class="form-control" type="text" name="codigo" id="codigo"></input>
                    <label>Descipcion</label><br>
                    <input style="text-align: center" class="form-control" type="text" name="descripcion" id="descripcion"></input>

                    <!--<label>Aro</label><br>
                    <td><select style="text-align: center; float:right;" class="form-control" type="text" name="aro" id="aro">
                    {% for aros in aro %}
                        <option value="{{aros.id}}">Codigo:{{aros.codigo}}        -Marca:{{aros.marca}}      -Color:{{aros.color}}</option>
                        {% endfor %}
                        </select>-->
                    <br>
                    <label>Precio</label><br>
                    <input style="text-align: center;" class="form-control"  step="0.10" type="number" name="precio" id="precio"></input>
                    <label> Cantidad</label>
                    <input style="text-align: center;" class="form-control" step="1" type="numer" name="cantidad" id="cantidad"  ></input>
                    <label>Total</label>
                    <input class="form-control" type="number" name="total" placeholder="0" readonly>
                    <br>

                       <!-- <input type="button" id="boton" class="btn btn-primary" value="GENERAR FACTURA" onclick="generar()"> -->
                        <button type="submit" id="boton" class="btn btn-success">Guardar</button>
                        <input class="btn btn-danger" type="button" onclick="history.back()" name="cancelar" value="Cancelar">

                </div>
</div>
            </form>
        </div>



{% endblock %}