{% extends "Base.html" %}
{% block content%}

<!--<script>
    function generar(){
        prec= parseInt(formulario.codigo.value);
        formulario.codigod.value = prec+1;
    }

    setInterval('generar()', 1);

</script>-->
    <title>{% block Titulo %}Registrar Lente{% endblock Titulo %}</title>



    <div >
      <h3><b>Registrar Lente</b></h3>
      <form name="formulario" class="form-group" id="form-group" role="form" method="post" enctype="multipart/form-data" style="align-items: center;">
          {% csrf_token %}

                <br>
                <br>

                <label><b>Paciente</b></label>
                <select style="text-align: center" class="form-control" type="text" name="paciente" id="paciente">
                        {% for paciente in paci %}
                        <option value="{{paciente.nombrePersona}}">{{paciente.id}}- {{paciente.nombrePersona}} {{paciente.apellidoPersona}}</option>
                        {% endfor %}
                        }
                    </select>
                    <br>
                    <div style="float: left; width: 40%;">
                        <br><br>
                        <br><br>
                <h4><b> Lente Izquierdo</b></h4>
                <label><b>Codigo</b></label>
                <input type="number" class="form-control" name="codigo" placeholder="" required>
                <label><b>Esfera</b></label>
                <input type="text" class="form-control" name="esfera" placeholder="" required>
                <label><b>Cilindro</b></label>
                <input type="text" class="form-control" name="cilindro" placeholder="" required>
                <label><b>Eje</b></label>
                <input type="text" class="form-control" name="eje" placeholder="" required>
                <label><b>Prisma</b></label>
                <input type="text" class="form-control" name="prisma" placeholder="" required >
                <label><b>Base</b></label>
                <input type="textarea" class="form-control" name="base" placeholder="" required >
                <label><b>Adicion</b></label>
                <input type="textarea" class="form-control" name="adicion" placeholder="" required >
                <label><b>Graduacion</b></label>
                <input type="textarea" class="form-control" name="graduacion" placeholder="" required >
                <label><b>Color</b></label>
                <input type="textarea" class="form-control" name="color" placeholder="" required >
                </div>
                <div style="float: right; width: 40%;" >
                    <br><br><br><br>
                <h4> <b>Lente Derecho</b></h4>
                <br><br><br>

                <label><b>Esfera</b></label>
                <input type="text" class="form-control" name="esferad" placeholder="" required>
                <label><b>Cilindro</b></label>
                <input type="text" class="form-control" name="cilindrod" placeholder="" required>
                <label><b>Eje</b></label>
                <input type="text" class="form-control" name="ejed" placeholder="" required>
                <label><b>Prisma</b></label>
                <input type="text" class="form-control" name="prismad" placeholder="" required >
                <label><b>Base</b></label>
                <input type="textarea" class="form-control" name="based" placeholder="" required >
                <label><b>Adicion</b></label>
                <input type="textarea" class="form-control" name="adiciond" placeholder="" required >
                <label><b>Graduacion</b></label>
                <input type="textarea" class="form-control" name="graduaciond" placeholder="" required >
                <label><b>Color</b></label>
                <input type="textarea" class="form-control" name="colord" placeholder="" required >
                    <br>
                    <br>
                <br><button style="margin: 20px;" type="submit" id="boton" class="btn btn-primary">Guardar</button>
                <input class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">
</form>
</div>




        </div>
 

{% endblock content %}