
{% extends "Base.html" %}

{% block content%}
    <title>{% block Titulo %}Registrar paciente{% endblock Titulo %}</title>

            


    <div style="float: left; width: 40%;"  class="contact-form">
    <h3>Registrar paciente</h3><br>
      <form class="form-group" id="form-group" role="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <label><b>Nombre Paciente</b></label>
                <input type="text" class="form-control" name="paci" placeholder="" required>
                <label><b>Apellido Paciente</b></label>
                <input type="text" class="form-control" name="apellido" placeholder="" required>
                <label><b>DUI</b></label>
                <input placeholder="0123456781" pattern="[0-9]{9}" title="Ej: 012345671 dui sin gui&oacute;n" type="text" class="form-control" name="dui"  required >
                <label><b>Direccion</b></label>
                <input type="text" class="form-control" name="direccion" placeholder="" required >
                <label><b>Telefono</b></label>
                <input placeholder="22222222" pattern="[0-9]{8}" title="Ej: 22334455 telefono sin gui&oacute;n" type="text" class="form-control" name="tel"  required>
                <label><b>Fecha de nacimiento</b></label>
                <input type="date" class="form-control" name="naci" placeholder="" required>
               </div>
               <br><br><br>
               <div  style="float: right; width: 40%;" class="contact-form">
                <label><b>Sexo</b></label><br>
                <select style="width: 400px; height: 30px; border-width: 0.5px" name="sexo">
                <!-- Opciones de la lista -->
                <option value="Masculino">Masculino</option>
                <option value="Femenino" selected>Femenino</option> 
                </select><br>
                <label><b>Correo</b></label>
                <input  type="email" class="form-control" name="correo" placeholder="ejemplo@correo.com" title="Por favor ingrese un correo valido: ejemplo@correo.com" required>
                <label><b>Nombre de padre</b></label>
                <input type="text" class="form-control" name="nameP" placeholder="" required>
                <label><b>Nombre de madre</b></label>
                <input type="text" class="form-control" name="nameM" placeholder="" required>
                <label><b>Nombre de remitente</b></label>
                <input type="text" class="form-control" name="nameR" placeholder="" required>
                <br>
                <br>
                <button  type="submit" id="boton" class="btn btn-primary">Guardar</button> 
                <input class="btn btn-danger" type="button" onclick="history.back()" name="cancelar" value="Cancelar">

                
               


           
        </div>
  <br>
  
 </form>
</div>

<style type="text/css">
    .btn{
        margin-right: 10%;
    }
</style>

{% endblock content %}