{% extends "Base.html" %}
{% block content%}
<title>{% block Titulo %}Registrar aro{% endblock Titulo %}</title>
<div class="col-md-80 col-md-offset-2 tex">
  <div class="col-md-80">
</div>
  <div >
    <h3>Registrar Aro</h3>



    <div class="contact-form">

      <form class="form-group" id="form-group" role="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
                <label><b>Codigo</b></label>
                <input type="text" class="form-control" name="codigo" placeholder="" required>
                <label><b>Color</b></label>
                <input type="text" class="form-control" name="color" placeholder="" required>
                <label><b>Marca</b></label>
                <input type="text" class="form-control" name="marca" placeholder="" required >
                <label><b>tamaño</b></label>
                <input type="textarea" class="form-control" name="tamano" placeholder="" required >

        <div class=" text-center">
          <br><button type="submit" id="boton" class="btn btn-primary">Guardar</button>
          <input style="text-align:center; position:absolute; left:68%" class="btn btn-success" type="button" onclick="history.back()" name="cancelar" value="Cancelar">
        </div>
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock content %}