{% extends "Base.html" %}

{% block content %}
<title>{% block Titulo %}Aros{% endblock Titulo %}</title>
<div class="col-lg ">
<title>Aros</title>
    <body >
        <h1 style="padding-left: 30px">Aros registrados</h1>
        <a class="btn btn-success" style="position: absolute; right: 5%" href="{%url 'registrarAro'%}">Agregar Aro</a>
        <br>
        <br>
        <div>
          <form class="form-goup" method="GET">
          <div style="padding-left: 30px" class="form-group">
              <br>
        </div>
        <div style="width: 90%; margin: 20px; margin-left: auto; margin-right: auto;">
      <table id="table_id" class= "table table-bordered table-striped table-hover ">
  <thead style="text-align: center;">
    <tr style="text-align: center;word-wrap: break-word;">
      <td style="width: 100px;" scope="col">Codigo</td>
      <td scope="col">Estado</td>
      <td scope="col">Color</td>
      <td scope="col">Marca</td>
      <td scope="col">Tamaño</td>
      <td scope="col">Acciones</td>
    </tr>
  </thead>
  <tbody>

    {% for Aro in aros%}
    <tr>
     <td>{{Aro.codigo}}</td>
     <td>{{Aro.estado}}</td>
     <td>{{Aro.color}}</td>
     <td>{{Aro.marca}}</td>
     <td>{{Aro.tamano}}</td>
</div>
     <td style="width: 150px; text-align: center;">
       <a  class="btn btn-primary" href="{%url 'EditarAro' Aro.id %}">Editar</a>
       <a class="btn btn-danger" href="{%url 'EliminarAro' Aro.id %}">Eliminar</a>

     </td>
    </tr>

    {% endfor %}

  </tbody>
</table>
</div>


    </body>
{% endblock %}