{% extends "Base.html" %}


{% block content %}
<div class="col-lg">
	</div> 

	<title>Citas</title>
	<h1 style="padding-left: 30px" >Citas</h1>
	<table style= 'position: absolute; left: 2%' class= "table table-bordered table-striped table-hover">
		<br>
					<form class="form-goup" method="GET">
					<div style="padding-left: 30px" class="form-group">
    					<label><b>Buscar por fecha: &nbsp; &nbsp;</b></label>
    					<input style="width: 250px;"type="text" class="form-control" name="q" placeholder="AAAA-MM-DD" pattern="{0-9}" id="">
			<thead style="text-align: center;">
			
				<tr style="text-align: center;">
					<th>Fecha de Cita</th>
					<th>Hora de Inicio </th>
					<th>Hora de Finalizacion</th>
					<th>Estado</th>
                              <th>Nombre</th>

					
					
				</tr>
			</thead>

            <tbody>
            		<tr>
            			{% for e in c %}
            			{% csrf_token %}
            			</a></label></td>
            			<td><label> {{e.fecha}}</label></td>
            			<td><label> {{e.horaI}}</label></td>
            			<td> <label> {{e.horaF}}</label></td>
            			<td> <label> {{e.estado}}</label></td>
                              <td> <label> {{e.paciCita.nombrePersona}} &nbsp; {{e.paciCita.apellidoPersona}}</label></td>

            			
            			
            			
            		</tr>
            		{%endfor%}
            		
            		
            		
            </tbody>
	</table>
{% endblock %}