{% extends "Base.html" %}
{% load static %}

{% block content %}
<title>{% block Titulo %}Consultas{% endblock Titulo %}</title>
<div class="col-lg">
	</div>

	<title>Consultas</title>
	<h1 style="padding-left: 30px">Consultas</h1>
	<input style="position: absolute; right: 10%; top: 30%" class="btn btn-danger" type="button" onclick="history.back()" name="cancelar" value="Regresar">

	<table style= 'position: absolute; left: 2%' class= "table table-bordered table-striped table-hover">
		<br>
					<form class="form-goup" method="GET">
					<div style="padding-left: 30px" class="form-group">
    					<label><b>Buscar por fecha: &nbsp; &nbsp;</b></label>
    					<input style="width: 200px;"type="text" class="form-control" name="q" placeholder="Escriba la fecha" id="">
			<thead tyle="text-align: center;">
			
				<tr tyle="text-align: center;">
					<th>Nombre</th>
					<th>Numero de expediente</th>
					<th>Fecha</th>
					<th>Diagnostico</th>
					
					
				</tr>
			</thead>

            <tbody>
            		<tr>
            			{%for c in consul%}
            			{% csrf_token %}
            			</a></label></td>
            			<td><label> {{c.expedientePac.paciente.nombrePersona}}</label></td>
            			<td><label> {{c.expedientePac.NumExp}}</label></td>
            			<td><label> {{c.fecha}}</label></td>
            			<td> <label> {{c.diag}}</label></td>
            			
            			
            			
            		</tr>
            		{%endfor%}
            		
            		
            		
            </tbody>
	</table>
	
{% endblock %}