{% extends "Base.html" %}

{% block content %}
<title>{% block Titulo %}Lentes{% endblock Titulo %}</title>
<div class="col-lg ">
<title>Lente</title>
    <body >
        <h1 style="padding-left: 30px">Lentes registrados</h1>
        <br>
        <br>
        <a class="btn btn-success" style="position: absolute; right: 5%" href="{%url 'registrarCristal'%}">Agregar Lente</a>
        <div>
          <form class="form-goup" method="GET">
          <div style="padding-left: 30px" class="form-group">
              <label ><b>Buscar por codigo: &nbsp; &nbsp;</b></label>
              <input style='width: 250px;'type="text" class="form-control" name="q" placeholder="Escriba el nombre y presione enter" id="">
              <br>
        </div>

      <table style= 'left: 2%' class= "table table-bordered table-striped table-hover table-responsive">
  <thead style="text-align: center;">
    <tr style="text-align: center;word-wrap: break-word;">
      <td></td>
      <td style="width: 300px;" scope="col">Codigo OI

      </td>

      <td scope="col">Esfera OI</td>
        <td scope="col">Cilindro OI</td>
        <td scope="col">Eje OI</td>
        <td scope="col">Prisma OI</td>
        <td scope="col">Base OI</td>
        <td scope="col">Adicion OI</td>
      <td scope="col">Graduacion OI</td>
      <td scope="col">Color OI</td>

<!--        <td scope="col">Codigo OD</td>
        <td scope="col">Esfera OD</td>
        <td scope="col">Cilindro OD</td>
        <td scope="col">Eje OD</td>
        <td scope="col">Prisma OD</td>
        <td scope="col">Base OD</td>
        <td scope="col">Adicion OD</td>
      <td scope="col">Graduacion OD</td>
      <td scope="col">Color OD</td> -->
        <td scope="col">Acciones</td>
    </tr>
  </thead>
  <tbody>

    {% for Cristal in cristals%}
    <tr>
     <th> Ojo Izquierdo</th>
     <td>{{Cristal.codigo}}</td>
     <td>{{Cristal.esfera}}</td>
     <td>{{Cristal.cilindro}}</td>
     <td>{{Cristal.eje}}</td>
     <td>{{Cristal.prisma}}</td>
     <td>{{Cristal.base}}</td>
     <td>{{Cristal.adicion}}</td>
     <td>{{Cristal.graduacion}}</td>
     <td>{{Cristal.color}}</td>

    </tr>
    <tr>
     <th> Ojo Derecho</th>
     <td>{{Cristal.codigod}}</td>
     <td>{{Cristal.esferad}}</td>
     <td>{{Cristal.cilindrod}}</td>
     <td>{{Cristal.ejed}}</td>
     <td>{{Cristal.prismad}}</td>
     <td>{{Cristal.based}}</td>
     <td>{{Cristal.adiciond}}</td>
     <td>{{Cristal.graduaciond}}</td>
     <td>{{Cristal.colord}}</td>

</div>
        <td rowspan="2" style="width: 400px; text-align: center;">
       <a class="btn btn-primary" href="{%url 'EditarCristal' Cristal.id %}">Editar</a>
       <a class="btn btn-danger" href="{%url 'EliminarCristal' Cristal.id %}">Eliminar</a>

     </td>

    </tr>

    {% endfor %}

  </tbody>
</table>

  
    </body>
{% endblock %}