{% extends "Base.html" %}


{% block content %}
<title>{% block Titulo %}Citas{% endblock Titulo %}</title>
<div class="col-lg">
	</div> 

	<title>Citas</title>
	<h1 style="padding-left: 30px" >Citas</h1>
	
		<br>
					
			<div class="table-responsive" style="width: 90%; margin: 20px; margin-left: auto; margin-right: auto;">

			<table id="table_id" class= "table table-bordered table-striped table-hover">
			<thead style="text-align: center;">
			
				<tr style="text-align: center;">
					<th>Fecha de Cita</th>
					<th>Hora de Inicio </th>
					<th>Hora de Finalizacion</th>
					<th>Estado</th>
                    <th>Nombre</th>	
				</tr>
			</thead>

            <tbody>
            		<tr>
            			{% for e in c %}
            			{% csrf_token %}
            			<td> {{e.fecha}}</td>
            			<td> {{e.horaI}}</td>
            			<td>  {{e.horaF}}</td>
            			<td>  {{e.estado}}</td>
                    	<td>  {{e.paciCita.nombrePersona}} &nbsp; {{e.paciCita.apellidoPersona}}</td>

            			
            			
            			
            		</tr>
            		{%endfor%}
            		
            		
            		
            </tbody>
	</table>
</div>

{% endblock %}