{% extends "Base.html" %}
{% load static %}

{% block content %}
<div class="col-md-8 col-md-offset-2 tex">
	<div class="col-md-8">
	</div>

	<title>Expediente</title>
	<h1>Expediente</h1>
	<table class= "table table-bordered table-striped table-hover">
		<br>
					<form class="form-goup" method="GET">
					<div class="form-group">
    					<label><b>Buscar numero de expediente: &nbsp; &nbsp;</b></label>
    					<input style="width: 250px;"type="text" class="form-control" name="q" placeholder="Escriba el numero de expediente " id="">
			<thead style="text-align: center;">
			
				<tr style="text-align: center;">
					<th>Numero de Expediente</th>
					<th>Nombre </th>
					<th>Telefono</th>
					<th>Correo</th>

					<th style="text-align: center;">Acciones</th>
					
					
				</tr>
			</thead>

            <tbody>
            		<tr>
            			{%for e in exp%}
            			{% csrf_token %}
            			</a></label></td>
            			<td><label> {{e.NumExp}}</label></td>
            			<td><label> {{e.paciente.nombrePersona}}</label></td>
            			<td> <label> {{e.paciente.telefono}}</label></td>
            			<td> <label> {{e.paciente.correo}}</label></td>
            			<td>  &nbsp; &nbsp;<a class="btn btn-primary" href="{%url 'VerConsulta' exp=e.id %}">Detalles</a> &nbsp; &nbsp;
            			<a class="btn btn-success" href="{%url 'RegistrarConsulta' exp=e.id %}">Nueva consulta</a></td>
            			
            			
            			
            		</tr>
            		{%endfor%}
            		
            		
            		
            </tbody>
	</table>
	{% endblock %}