{% extends "Base.html" %}
{% load static %}

{% block content %}
<title>{% block Titulo %}Ver expediente{% endblock Titulo %}</title>
<div class="col-lg">
	</div>

	<title>Expediente</title>
	<h1 style="padding-left: 30px" >Expediente</h1>

<div style="width: 90%; margin: 20px; margin-left: auto; margin-right: auto;" class="table-responsive">
	<table id="table_id" class= "table table-bordered table-striped table-hover">
		
			<thead style="text-align: center;">
			
				<tr style="text-align: center;">
					<th>Numero de Expediente</th>
					<th>Nombre </th>
					<th>Telefono</th>
					<th>Correo</th>

					<th style="text-align: center;">Acciones</th>
					
					
				</tr>
			</thead>

            <tbody>
            		<tr>
            			{%for e in exp%}
            			{% csrf_token %}
            			<td>{{e.NumExp}}</td>
            			<td> {{e.paciente.nombrePersona}}</td>
            			<td>{{e.paciente.telefono}}</td>
            			<td> {{e.paciente.correo}}</td>
            			<td style="text-align: center;"> <a class="btn btn-primary" href="{%url 'VerConsulta' exp=e.id %}">Detalles</a>&nbsp;&nbsp;&nbsp;
            			<a class="btn btn-success" href="{%url 'RegistrarConsulta' exp=e.id %}">Nueva consulta</a></td>
            			
            			{%endfor%}
            			
            		</tr>
            		
            		
            		
            		
            </tbody>
	</table>
</div>
	{% endblock %}