{% extends "Base.html" %}

{% block content %}
<title>{% block Titulo %}Lentes{% endblock Titulo %}</title>
<div class="col-lg ">
<title>Lente</title>
    <body >
        <h1 style="padding-left: 30px">Lentes registrados</h1>
        <br>
        <br>

        <div style="padding-left: 30px" class="col-lg-1">
            <a href="{% url 'reporte_personas_pdf' %}" class="btn btn-info">
                <span>Imprimir</span>
            </a>
        </div>
        <br>
        <a class="btn btn-success" style="position: absolute; right: 5%" href="{%url 'registrarLente'%}">Agregar Lente</a>
        <div>
          <form class="form-goup" method="GET">
          <div style="padding-left: 30px" class="form-group">
              <label ><b>Buscar por codigo: &nbsp; &nbsp;</b></label>
              <input style='width: 250px;'type="text" class="form-control" name="q" placeholder="Escriba el nombre y presione enter" id="">
              <br>
        </div>
        <div class="table-responsive" style="width: 90%; margin: 20px; margin-left: auto; margin-right: auto;">
      <table class= "table table-bordered table-striped table-hover ">
  <thead class="thead-dark" style="text-align: center;">
    <tr style="text-align: center;word-wrap: break-word;">
      <td></td>
      <td scope="col">Paciente</td>
      <td style="width: 100px;" scope="col">Codigo</td>
      <td scope="col">Estado</td>

      <td scope="col">Esfera</td>
        <td scope="col">Cilindro</td>
        <td scope="col">Eje</td>
        <td scope="col">Prisma</td>
        <td scope="col">Base</td>
        <td scope="col">Adicion</td>
      <td scope="col">Graduacion</td>
      <td scope="col">Color</td>

<!--        <td scope="col">Codigo OD</td>
        <td scope="col">Esfera OD</td>
        <td scope="col">Cilindro OD</td>
        <td scope="col">Eje OD</td>
        <td scope="col">Prisma OD</td>
        <td scope="col">Base OD</td>
        <td scope="col">Adicion OD</td>
      <td scope="col">Graduacion OD</td>
      <td scope="col">Color OD</td> -->
        <td scope="col">Acciones</td>
    </tr>
  </thead>
  <tbody>

    {% for Lente in lentes%}
    <tr>
     <th> Ojo Izquierdo</th>
     <td>{{Lente.paciente.nombrePersona}} {{Lente.paciente.apellidoPersona}}</td>
     <td>{{Lente.codigo}}</td>
     <td>{{Lente.estado}}</td>
     <td>{{Lente.esfera}}</td>
     <td>{{Lente.cilindro}}</td>
     <td>{{Lente.eje}}</td>
     <td>{{Lente.prisma}}</td>
     <td>{{Lente.base}}</td>
     <td>{{Lente.adicion}}</td>
     <td>{{Lente.graduacion}}</td>
     <td>{{Lente.color}}</td>
     <td rowspan="2" style="width: 200px">
       <a class="btn btn-primary" href="{%url 'EditarLente' Lente.id %}">Editar</a>
       <a class="btn btn-danger" href="{%url 'EliminarLente' Lente.id %}">Eliminar</a>
       </td>

    </tr>
    <tr>
     <th> Ojo Derecho</th>
     <td>{{Lente.paciente.nombrePersona}} {{Lente.paciente.apellidoPersona}}</td>
     <td></td>
     <td>{{Lente.estado}}</td>
     <td>{{Lente.esferad}}</td>
     <td>{{Lente.cilindrod}}</td>
     <td>{{Lente.ejed}}</td>
     <td>{{Lente.prismad}}</td>
     <td>{{Lente.based}}</td>
     <td>{{Lente.adiciond}}</td>
     <td>{{Lente.graduaciond}}</td>
     <td>{{Lente.colord}}</td>

</div>


    </tr>

    {% endfor %}

  </tbody>
</table>
</div>


    </body>
{% endblock %}