{% extends "Base.html" %}

{% block content %}
<div class="col-lg ">
<title>Paciente</title>
    <body >
        <h1 style="padding-left: 30px">Pacientes registrados</h1>
        <br>
        <br>
        <a class="btn btn-success" style="position: absolute; right: 5%" href="{%url 'registrarPaciente'%}">Agregar Paciente</a>
        <div>
          <form class="form-goup" method="GET">
          <div style="padding-left: 30px" class="form-group">
              <label ><b>Buscar por nombre: &nbsp; &nbsp;</b></label>
              <input style='width: 250px;'type="text" class="form-control" name="q" placeholder="Escriba el nombre y presione enter" id="">
              <br>
        </div>
            
      <table style= 'position: absolute; left: 2%' class= "table table-bordered table-striped table-hover table-responsive">
  <thead style="text-align: center;">
    <tr style="text-align: center;word-wrap: break-word;">
      <td style="width: 300px;" scope="col">Nombre Completo</td>
      <td  scope="col">Apellidos</td>
      <td scope="col">DUI</td>
      <td scope="col">Edad</td> 
      <td scope="col">Sexo</td>
      <td scope="col">Telefono</td>
      <td scope="col">Correo</td> 
      <td scope="col">Acciones</td>       
    </tr>
  </thead>
  <tbody style="text-align:center;">

    {% for Paciente in pacientes%}
    <tr>
     <td>{{Paciente.nombrePersona}}</td>
     <td>{{Paciente.apellidoPersona}}</td>
     <td>{{Paciente.dui}}</td>
     <td>{{Paciente.edad}}</td>
     <!--{% if Paciente.sexo == 2 %}
     <td>Masculino</td>
     {% endif %}
     {%if Paciente.sexo == 3 %}
     <td>Femenino</td>
     {% endif %}-->
        <td> {{Paciente.sexo}}</td>
     <td>{{Paciente.telefono}}</td>
     <td>{{Paciente.correo}}</td>
</div>
     <td style="width: 400px">
       <a class="btn btn-primary" href="{%url 'EditarPaciente' Paciente.id %}">Editar</a>
       <a class="btn btn-danger" href="{%url 'EliminarPaciente' Paciente.id %}">Eliminar</a>
       {% for e in expedientes%}
       {% if e.paciente.id == Paciente.id %}
        <label style="text-align: center">Ya posee expediente</label>
       {% endif %}
       {% endfor %}
       {% for p in noexp %}
       {% if Paciente.id == p.id %}
        <a class="btn btn-primary" href="{%url 'RegistrarExpediente' pac=Paciente.id %}">Registrar Expediente</a>
       {% endif %}
       {% endfor %}
     </td>
    </tr>
    
    {% endfor %}

  </tbody>
</table>

  
    </body>
{% endblock %}
