{% extends "Base.html" %}

{% block content %}
<title>{% block Titulo %}Pacientes{% endblock Titulo %}</title>
<div class="col-lg ">
<title>Paciente</title>
    <body >
        <h1 style="padding-left: 30px">Pacientes registrados</h1>

        <div style="padding-left: 30px" class="col-lg-1">
          <a href="{% url 'reporte_pacientes_pdf' %}" class="btn btn-info">
              <span>Imprimir</span>
          </a>
      </div>
      <br>
        <a class="btn btn-success" style="position: absolute; right: 5%" href="{%url 'registrarPaciente'%}">Agregar Paciente</a>
        <div>
          <form class="form-goup" method="GET">
          <div style="padding-left: 30px" class="form-group">
              <br><br>
              <br>
        </div>
        <div class="table-responsive" style="width: 95%; margin: 20px; margin-left: auto; margin-right: auto;">
      <table id="table_id"  class= "table table-bordered table-striped table-hover">
  <thead style="text-align: center;">
    <tr style="text-align: center;word-wrap: break-word;">
      <th style="width: 500px;" scope="col">Nombres</td>
      <th style="width: 500px;" scope="col">Apellidos</td>
      <th scope="col">DUI</td>
      <th scope="col">Edad</td> 
      <th scope="col">Sexo</td>
      <th scope="col">Telefono</td>
      <th scope="col">Correo</td> 
      <th scope="col">Acciones</td>
      <th  style="width: 200px;" scope="col">Funciones</td>    
    </tr>
  </thead>
  <tbody style="text-align:center;">

    {% for Paciente in pacientes%}
    <tr>
     <td>{{Paciente.nombrePersona}}</td>
     <td>{{Paciente.apellidoPersona}}</td>
     <td>{{Paciente.dui}}</td>
     <td>{{Paciente.edad}}</td>
     <!--{% if Paciente.sexo == 2 %}
     <td>Masculino</td>
     {% endif %}
     {%if Paciente.sexo == 3 %}
     <td>Femenino</td>
     {% endif %}-->
        <td> {{Paciente.sexo}}</td>
     <td>{{Paciente.telefono}}</td>
     <td>{{Paciente.correo}}</td>

     <td style="width: 200px">
       <a id="edi" class="btn btn-primary" href="{%url 'EditarPaciente' Paciente.id %}">Editar</a>
       <a id="eli" class="btn btn-danger" href="{%url 'EliminarPaciente' Paciente.id %}">Eliminar</a>
       


     <td style="width: 450px">
       <a id="reg" class="btn btn-primary" href="{%url 'registrarCita' Paciente.id %}">Registrar Cita</a>
       <a id="ver"class="btn btn-primary" href="{%url 'verCitasP' Paciente.id %}">Ver Citas</a>
       {% for e in expedientes%}
       {% if e.paciente.id == Paciente.id %}
        <label style="text-align: center">Ya posee expediente</label>
       {% endif %}
       {% endfor %}
       {% for p in noexp %}
       {% if Paciente.id == p.id %}
        <a id="rex" class="btn btn-primary" href="{%url 'RegistrarExpediente' pac=Paciente.id %}">Registrar Expediente</a>
       {% endif %}
       {% endfor %}
     </td>
    </tr>
    
    {% endfor %}

  </tbody>
</table>
</div>

<style type="text/css">

</style>
  
    </body>
{% endblock %}
